.row {
  display: flex;
  justify-content: space-between;
  box-sizing: border-box;
}

div {
  padding: 5px;
}

.id {
  width: 10%;
}

.name {
  display: flex;
  justify-content: start;
  align-items: center;
  width: 25%;
}

.lastname {
  display: flex;
  justify-content: start;
  align-items: center;
  width: 25%;
}

.actions {
  width: 25%;
  text-align: center;
  box-sizing: border-box;
  padding: 0 5px;
}